<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Hygiea4U</title>

    <!-- Bootstrap Core CSS -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="resources/css/starter-template.css" rel="stylesheet"/>
	
	<!-- Custom styles for this template -->
    <link href="resources/css/signin.css" rel="stylesheet"/>
  </head>

  <body>
  
	<div class="row featurette">
	<div class="col-md-7">
	     <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
    <div class="container">
         <form th:action="@{/login}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Sign into Hygiea4U</h2>
        <input type="text" name="username" class="form-control" placeholder="Email address" />
        <input type="password" name="password" class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
	</div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery Version 1.11.0 -->
    <script src="resources/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/js/bootstrap.min.js"></script>
  </body>
</html>
